body
{
  background-image: url("/static/images/back_loop.png");
}

logo
{
  background-image: url("/static/images/static_logo.png") 0 0 no-repeat;;
}

wrapper
{

} 

middle
{
  background-color: #fff;
}

top
{
  background-color: #CCC;
}

foot
{
  background: -webkit-gradient(linear, left top, left bottom, from(#ff931e), to(#ff931e)); /* for webkit browsers */
}

bubble
{
  background-color: #eee;
}

menu
{
  background-color: #000;
}

breadcrumb
{
  background-color: #ccc;
}

menu li, shout
{
  background-color: #0F0;
}