menu li, menu a
{
  color: inherit;
  
  text-decoration: none;
}

menu li
{
  color: #333333;
  font-size: large;
  font-weight: normal;
  font-family: 'Helvetica', 'Lucida Grande', Verdana, Arial, Sans-Serif;
}

menu li:hover, menu li.selected
{
  color: #333333;
  font-size: large;
  font-weight: bold;
  font-family: 'Helvetica', 'Lucida Grande', Verdana, Arial, Sans-Serif;
}