wrapper, side, top, right, left, middle, content, bottom, menu, submenu, title, foot, bubble, logo, shout, breadcrumb
{
  display: block;
}

middle
{
  position:relative;
  overflow-x:auto;
}

left
{
  padding-right: 200px;
}
right
{
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  border-top-right-radius: 15px 15px;
  border-bottom-right-radius: 15px 15px;
}

/*Center the page, give it a width, and a border.*/
wrapper
{
  position: relative;
  width: 50em ;
  margin-left: auto ;
  margin-right: auto ;
  border-top-left-radius: 100px 100px;
  border-top-right-radius: 15px 15px;
  border-bottom-left-radius: 15px 15px;
  border-bottom-right-radius: 15px 15px;
}

content
{
  overflow: auto;
  margin-left: 2em;
  margin-right: 2em;  
}


/*Set height for the header part.*/
top
{
  position:relative;
  height: 100px;
  margin-top: 0;
  border-top-left-radius: 100px 100px;
  border-top-right-radius: 15px 15px;
}

logo
{
  position: absolute;
  left: 0px;
  top: 0px;
  float: left;
  width: 200px;
  height: 200px;
  margin-left: 0px;
  margin-top: 0px;
  z-index: 15;
}

shout
{

}

/* Middle */
middle
{
  padding-top: 100px;
  min-height:3em;
}

side
{
  width: 200px;
}

/*Menu part*/
menu
{
  position: absolute;
  bottom: 0;
  left: 200px;
  padding: 0;
  margin: 0;
}

menu li
{
  float: left;
  display: inline;
}

menu a
{
  padding: 0.2em 0.8em 0.2em 0.8em;
}

breadcrumb
{
  position: absolute;
  top: 0;
  right: 0;
  margin:0;
  left: 225px;
  border-bottom-left-radius: 25px 25px;
}

breadcrumb li
{
  float: left;
  display: inline;
  padding: 0.2em 1em 0.2em 1em;
  margin: 0 1px;
}

/*Footer in general*/
bottom
{
  position:relative;
}

foot
{
  padding: 1em 1em 1em 1em;
  margin: 0;
  border-bottom-left-radius: 15px 15px;
  border-bottom-right-radius: 15px 15px;
}

/* Pretty part */
bubble
{
  position: absolute;
  z-index: 10;
  border-radius: 50% 50%;
}

pin
{
  position: absolute;
  z-index: 10;
  border-radius: 50% 50%;
}