wrapper, top, middle, bottom, menu, submenu, title, foot, bubble, logo, shout, breadcrumb
{
  display: block;
}

middle
{
  position:relative;
  overflow-x:auto;
  
}

/*Center the page, give it a width, and a border.*/
wrapper
{
  position: relative;
  width: 60em ;
  margin-left: auto ;
  margin-right: auto ;
  border-top-left-radius: 15px 15px;
  border-top-right-radius: 15px 15px;
  border-bottom-left-radius: 15px 15px;
  border-bottom-right-radius: 15px 15px;
}

/*Set height for the header part.*/
top
{
  position:relative;
  height: 8em ;
  margin-top: 0;
  padding: 1em 1em 1em 1em;
  border-top-left-radius: 15px 15px;
  border-top-right-radius: 15px 15px;
}

logo
{
  position:absolute;
  width: 160px;
  height: 160px;
  z-index: 200;
  border-radius: 50% 50%;
}

shout
{

}

/* Middle */
middle
{
  min-height:3em;
}

/*Menu part*/
menu
{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 3px 0 0 9px;
  margin:0;
  border-top-left-radius: 25px 25px;
}

menu li
{
  float: left;
  display: inline;
  padding: 0.2em 1em 0.2em 1em;
  margin: 0 1px;
}

breadcrumb
{
  position: absolute;
  top: 0;
  right: 0;
  margin:0;
  border-bottom-left-radius: 25px 25px;
}

breadcrumb li
{
  float: left;
  display: inline;
  padding: 0.2em 1em 0.2em 1em;
  margin: 0 1px;
}

/*Footer in general*/
bottom
{
  position:relative;
}

foot
{
  width: 100%;
  padding: 1em 0 1em 0;
  margin: 0;
  border-bottom-left-radius: 15px 15px;
  border-bottom-right-radius: 15px 15px;
}

/* Pretty part */
bubble
{
  position: absolute;
  z-index: 10;
  border-radius: 50% 50%;
}