wrapper
{
  border: n;
}

/* Top looks */
top
{
  
}
/* Menu looks */
menu
{
  
}

menu ul
{
  list-style-type: none;
}

menu li
{
/*   text-shadow: -1px -1px 0px #ce8626; */
}

menu li:hover, menu li.selected
{
/*   text-shadow: 1px 1px 0px #d1d1d1; */
}

/* Foot looks */
foot {
  
}

/* Middle looks */
middle {
}

/* Wrapper looks */
wrapper {
  box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
  
}

/* Bubble looks */
bubble
{
  box-shadow: inset 3px 3px 6px rgba(0,0,0,0.6);
}

/* Pin looks */
.pin
{
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 10px 10px 30px rgba(255, 255, 255, 0.3) inset;
}

